# *.rmd
# *.md
*.tex
*.yml
*.html
*.css
*.js
*.log
*.aux
*.out
*.toc
*.bib

.history/
.vscode/
assets/
.Rproj.user
.RData
.Rhistory
.DS_Store
*.json
*.ttf
*.epub
*.Rproj
*.gz
Advanced Probability/Probability_and_Stochastics.Rmd
Infinite-dimensional-analysis_files
_bookdown_files
Infinite dimensional analysis/Infinite dimensional analysis.Rmd
